.main-wrapper {
    background-image: url('./../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh !important;
    overflow: scroll !important;
}

.main-header {
    text-align: center;
    background-color: rgba(1, 235, 244, 0.6);
    box-shadow: 4px 0 10px;
}

.invoice-btn {
    position: absolute;
    bottom: 200px;
    left: 200px;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
}

.back-image {
    background-image: url('../images/invoice.png');
}

.error-border{
    border: 2px solid red;
}
iframe{
    padding: 0;
}

.opacity {
    background-color: rgba(98, 231, 236, 0.782);
    overflow: scroll;
}
